@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* #region  /**=========== Primary Color =========== */
  --tw-color-primary-50: 240 253 250;
  --tw-color-primary-100: 204 251 241;
  --tw-color-primary-200: 153 246 228;
  --tw-color-primary-300: 94 234 212;
  --tw-color-primary-400: 45 212 191;
  --tw-color-primary-500: 20 184 166;
  --tw-color-primary-600: 13 148 136;
  --tw-color-primary-700: 15 118 110;
  --tw-color-primary-800: 17 94 89;
  --tw-color-primary-900: 19 78 74;
  --tw-color-primary-950: 4 47 46;
  --color-primary-50: rgb(var(--tw-color-primary-50)); /* #f0fdfa */
  --color-primary-100: rgb(var(--tw-color-primary-100)); /* #ccfbf1 */
  --color-primary-200: rgb(var(--tw-color-primary-200)); /* #99f6e4 */
  --color-primary-300: rgb(var(--tw-color-primary-300)); /* #5eead4 */
  --color-primary-400: rgb(var(--tw-color-primary-400)); /* #2dd4bf */
  --color-primary-500: rgb(var(--tw-color-primary-500)); /* #14b8a6 */
  --color-primary-600: rgb(var(--tw-color-primary-600)); /* #0d9488 */
  --color-primary-700: rgb(var(--tw-color-primary-700)); /* #0f766e */
  --color-primary-800: rgb(var(--tw-color-primary-800)); /* #115e59 */
  --color-primary-900: rgb(var(--tw-color-primary-900)); /* #134e4a */
  --color-primary-950: rgb(var(--tw-color-primary-950)); /* #042f2e */
  /* #endregion  /**======== Primary Color =========== */
}

@layer base {
  /* inter var - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100 900;
    font-display: optional;
    src: url('/fonts/inter-var-latin.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
      U+2215, U+FEFF, U+FFFD;
  }

  .cursor-newtab {
    cursor: url('/images/new-tab.png') 10 10, pointer;
  }

  .h-screen-2 {
    height: 50vh;
  }

  /* #region  /**=========== Typography =========== */
  .h0 {
    @apply font-primary text-3xl font-bold md:text-5xl;
  }

  h1,
  .h1 {
    @apply font-primary text-2xl font-bold md:text-4xl;
  }

  h2,
  .h2 {
    @apply font-primary text-xl font-bold md:text-3xl;
  }

  h3,
  .h3 {
    @apply font-primary text-lg font-bold md:text-2xl;
  }

  h4,
  .h4 {
    @apply font-primary text-base font-bold md:text-lg;
  }

  body,
  .p {
    @apply font-primary text-sm md:text-base;
  }
  /* #endregion  /**======== Typography =========== */

  .layout {
    /* 1100px */
    max-width: 68.75rem;
    @apply mx-auto w-11/12;
  }

  a.custom-link {
    @apply border-neutral-400 hover:border-neutral-400/0 dark:border-neutral-600;
  }

  /* Class to adjust with sticky footer */
  .min-h-main {
    @apply min-h-[calc(100vh-56px)];
  }

  h1.draft-header[contenteditable='true'] {
    border: 1px solid var(--color-primary-400);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
  }

  p.draft-exp[contenteditable='true'] {
    border: 1px solid var(--color-primary-400);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
  }
}

.ql-toolbar {
  @apply bg-neutral-100 dark:bg-neutral-200;
  border-radius: 0.5rem 0.5rem 0 0;
}

.ql-container {
  border-radius: 0 0 0.5rem 0.5rem;
}

.tag-wrapper {
  @apply focus-visible:ring-primary-500 bg-primary-500 border-primary-600 hover:bg-primary-600 active:bg-primary-700 disabled:bg-primary-700 mb-2 mr-2 inline-flex items-center rounded border px-3 py-1.5 text-sm font-medium text-white shadow-sm transition-colors duration-75 hover:text-white focus:outline-none focus-visible:ring disabled:cursor-not-allowed md:text-base;
}

.ReactTags__tagInputField {
  @apply rounded bg-neutral-100 dark:bg-neutral-800;
}

.ReactTags__selected {
  @apply inline;
}

.ReactTags__remove {
  @apply ml-2;
}

.main-article img {
  @apply mb-3 w-full rounded-xl drop-shadow-xl;
}

.w-md-editor-toolbar,
.w-md-editor-content,
.wmde-markdown:not(.main-article) {
  @apply dark:!bg-neutral-800;
}

.wmde-markdown.main-article {
  @apply dark:!bg-neutral-900;
}

.wmde-markdown:not(.main-article) pre {
  @apply dark:!bg-neutral-900;
}

.wmde-markdown.main-article pre {
  @apply dark:!bg-neutral-800;
}

.wmde-markdown li {
  list-style-type: decimal;
}

.wmde-markdown li {
  list-style-type: disc;
}

.wmde-markdown a {
  @apply !text-primary-500;
}

.wmde-markdown code:not(.code-highlight) {
  @apply !text-pink-500;
}

#nprogress .bar {
  background: rgb(45, 212, 191);
}

@layer utilities {
  .animated-underline {
    background-image: linear-gradient(#33333300, #33333300),
      linear-gradient(
        to right,
        var(--color-primary-400),
        var(--color-primary-500)
      );
    background-size: 100% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
  }
  @media (prefers-reduced-motion: no-preference) {
    .animated-underline {
      transition: 0.3s ease;
      transition-property: background-size, color, background-color,
        border-color;
    }
  }
  .animated-underline:hover,
  .animated-underline:focus-visible {
    background-size: 0 2px, 100% 2px;
  }
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 36px;
  height: 38px;
}
.lds-ellipsis div {
  position: absolute;
  top: 16.5px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 4px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 4px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 16px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 28px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(12px, 0);
  }
}
